# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V8
.Trashes

# Python
__pycache__/
*.py[cod]
*.pyo

# Node
node_modules/
dist/
.env

# IDE
.idea/
.vscode/
*.suo
*.user

# Node dependencies (explizit)
backend/node_modules/
website/node_modules/

# Build-Artefakte
website/dist/
backend/dist/

# Sonstiges
backend/.env
infra/.env
frontend/.env

